<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
    <head profile="http://gmpg.org/xfn/11">
        <title>Hear Disease Prediction</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta http-equiv="imagetoolbar" content="no" />
        <link rel="stylesheet" href="/static/styles/layout.css" type="text/css" />     
    </head>
    <body id="top" style="background-image: url(/static/images/backgrnd.jpg.jpg); background-repeat: no-repeat; background-size: cover; background-position: center">
        <div class="wrapper row1">
            <div id="header" class="clear">
                <div class="fl_left">
                    <h1><a href="{{ url_for('index') }}">Heart Disease Prediction using ML</a></h1>
                    <p>
                        <span style="padding-left: 800px; color: black;"> Welcome : {{sessionValue}}</span>                           
                    </p>
                </div>
                <div class="fl_right">
                    <!--      <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">A - Z Index</a></li>
                            <li class="last"><a href="#">Admin Login</a></li>
                            <li class="last"><a href="#">Staff Login</a></li>
                          </ul>
                          <form action="#" method="post" id="sitesearch">
                            <fieldset>
                              <strong>Search:</strong>
                              <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
                              <input type="image" src="images/search.gif" id="search" alt="Search" />
                            </fieldset>
                          </form>-->
                </div>
            </div>
        </div>
        <!-- ####################################################################################################### -->
        <div class="wrapper row2">
            <div class="rnd">
                <!-- ###### -->
                <div id="topnav" style="background: transparent">
                    <ul>
                        <li><a href="{{ url_for('userprofile') }}" style="background: transparent">View Profile</a></li>
                        <li><a href="{{ url_for('addheartdetail') }}" style="background: transparent">Add Heart Detail</a></li>
                        <li><a href="{{ url_for('results') }}" style="background: transparent">Results</a></li>
                        <li class="active"><a href="{{ url_for('viewhistory') }}" style="background: transparent">View History</a></li> 
                        <li><a href="{{ url_for('viewquery') }}" style="background: transparent">View Query</a></li> 
                        <li class="last"><a href="{{ url_for('signout') }}" style="background: transparent">Sign Out</a></li>
                    </ul>
                </div>
                <!-- ###### -->
            </div>
        </div>
        <!-- ####################################################################################################### -->
        <div class="wrapper row3">
            <div class="rnd">
                <div id="container" class="clear" style="background: transparent">
                    <!-- ####################################################################################################### -->
                    <h1 id="tbl-hd">View History</h1>
                        
                    <table border='2px' style='text-align: center;' width='100%'>

                        <tr>
                            <th style="color: black">Sno</th>
                            <th style="color: black">Age</th>
                            <th style="color: black">Sex</th>
                            <th style="color: black">CP</th>
                            <th style="color: black">Trestbps</th>
                            <th style="color: black">Cholestrol</th>
                            <th style="color: black">Fbs</th>
                            <th style="color: black">Restecg</th>
                            <th style="color: black">Thalach</th>
                            <th style="color: black">Exang</th>
                            <th style="color: black">OldPeak</th>
                            <th style="color: black">Slope</th>
                            <th style="color: black">CA</th>
                            <th style="color: black">Thal</th>      
                            <th style="color: black">Health Disease</th>      
                            <th style="color: black">Recorded Date</th>                            
                        </tr>

                        {% if result %}

                            {% for row in result %}

                                <tr>
                                    <td style="color: black">
                                        {{ loop.index  }}
                                    </td>
                                    <td style="color: black">{{ row.Age }}</td>
                                    <td style="color: black">{{ row.Sex }}</td>
                                    <td style="color: black">{{ row.CP}}</td>                                    
                                    <td style="color: black">{{ row.Trestbps }}</td>
                                    <td style="color: black">{{ row.Cholestrol }}</td>
                                    <td style="color: black">{{ row.Fbs }}</td>
                                    <td style="color: black">{{ row.Restecg }}</td>
                                    <td style="color: black">{{ row.Thalach }}</td>
                                    <td style="color: black">{{ row.Exang }}</td>
                                    <td style="color: black">{{ row.OldPeak }}</td>
                                    <td style="color: black">{{ row.Slope }}</td>
                                    <td style="color: black">{{ row.CA }}</td>
                                    <td style="color: black">{{ row.Thal }}</td>                                    
                                    <td style="color: black"><font color = 'black'>{{ row.Result }}</font></td>
                                    <td style="color: black">{{ row.Recorded_Date }}</td>                                    
                                </tr>

                            {% endfor %}

                        {% else %}

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>                            
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td style="color: black;">No Records Found!</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        {% endif %}

                    </table>
                             
                </div>
                  
                    {% for message in get_flashed_messages() %}
      
                        <font color = 'black'>

                            {{message}}

                        </font>

                    {% endfor %}
                    
                    <!-- ####################################################################################################### -->
                </div>
            
            </div>
        
        <!-- ####################################################################################################### 
        <div class="wrapper row4">
          <div class="rnd">
            <div id="footer" class="clear">
               ####################################################################################################### 
              <div class="fl_left clear">
                <div class="fl_left center"><img src="images/demo/worldmap.gif" alt="" /><br />
                  <a href="#">Find Us With Google Maps &raquo;</a></div>
                <address>
                Address Line 1<br />
                Address Line 2<br />
                Town/City<br />
                Postcode/Zip<br />
                <br />
                Tel: xxxx xxxx xxxxxx<br />
                Email: <a href="#">contact@domain.com</a>
                </address>
              </div>
              <div class="fl_right">
                <div id="social" class="clear">
                  <p>Stay Up to Date With Whats Happening</p>
                  <ul>
                    <li><a style="background-position:0 0;" href="#">Twitter</a></li>
                    <li><a style="background-position:-72px 0;" href="#">LinkedIn</a></li>
                    <li><a style="background-position:-142px 0;" href="#">Facebook</a></li>
                    <li><a style="background-position:-212px 0;" href="#">Flickr</a></li>
                    <li><a style="background-position:-282px 0;" href="#">RSS</a></li>
                  </ul>
                </div>
                <div id="newsletter">
                  <form action="#" method="post">
                    <fieldset>
                      <legend>Subscribe To Our Newsletter:</legend>
                      <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
                      <input type="text" id="subscribe" value="Submit" />
                    </fieldset>
                  </form>
                </div>
              </div>
               ####################################################################################################### 
            </div>
          </div>
        </div>
         ####################################################################################################### 
        <div class="wrapper">
          <div id="copyright" class="clear">
            <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
          </div>
        </div>-->
    </body>
</html>